<div id="header">   
    <header>
        <a href="CS3101"><h1>Bookstream.co.uk</h1></a>
    </header>
</div>

<!--An "invisible" div to ensure pages with a header display correctly-->
<div id="spacing">   
    <header>
        <h1>Bookstream.co.uk</h1>
    </header>
</div>