<html>
    <head>
        <title>Databases P2</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="../js/index.js"></script> -->

        <link href="/css/standard.css" rel="stylesheet">
        <link href="/css/audiobooks.css" rel="stylesheet">
        <link href="/css/navigation.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

        <script src="/audiobooks.js"></script>
    </head>

    <body>
        <header>
            <h1>Bookstream.co.uk</h1>
        </header>

        <section id="books">
            <div class="book-entry">
                <h2 class="book-title">The Madness at the Lake</h2>
                <h3 class="author">Diane Clarkson</h3>

                <ul>
                    <li>ISBN - 02157854</li>
                    <li>Publisher - Old Harrow Books</li>
                    <li>Publication Date - 1906-06-07</li>
                    <li>Narrator - Leon Davrough</li>
                    <li>Running Time - 13:13:47</li>
                    <li>Age Rating - 15</li>
                    <li>Price - £9.99</li>
                    <li>Average Rating - 7.25</li>
                </ul>
            </div>
        </section>
    </body> 
</html>