<html>  
    <head>
        <title>Databases P2</title>
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <% include ./partials/headercss.ejs%>
        <link href="/css/standard.css" rel="stylesheet">
        <link href="/css/authors.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    </head>
    
    <body>  
        <% include ./partials/header.ejs %>

        <section id="search">
            <form href="/" id="search-form" action="POST">
                <input id="search" type="text" placeholder="Find an author">
                <i class="ion-ios-search-strong"></i>
            </form> 
        </section>
    </body>
</html>