<html>
    <head>
        <title>Oh No!</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

            <% include ./partials/headercss.ejs%>

            <link href="CS3101/css/error.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    </head>

    <body>
        <% include ./partials/header.ejs%>

        <div class="error">
            <p>
                Something went wrong! 
                <br><span>Error <%=errNo%></span>
                <br>Try a different page for quality books!
                <br><i class="fa fa-book fa-3x"></i>
            </p>
        </div>
    </body>
</html>