<html>
    <head>
        <title>Databases P2</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="src/js/index.js"></script> -->
        
        <link href="/css/standard.css" rel="stylesheet">
        <link href="/css/navigation.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    </head>

    <body>
        <div class="background">
            <!-- <img src="https://images.philips.com/is/image/PhilipsConsumer/SHL5605GN_28-MI1-global-001?$jpglarge$&wid=1250" alt="OOPS"> -->
            <img src="https://images.pexels.com/photos/674268/pexels-photo-674268.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="OOPS">
            <!-- <img src="https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="OOPS"> -->
            <!-- <img src="https://images.pexels.com/photos/374912/pexels-photo-374912.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="OOPS"> -->
        </div>
        <div class="overlay">
            <h1>Bookstream.co.uk</h1>
            <nav class="navigation">
                <ul>
                    <li><a id="allBooks" href="CS3101/audiobooks">All Audiobooks</a></li>
                    <li><a href="CS3101/authors">Audiobooks by Author</a></li>
                    <li><a href="CS3101/popular">Popular Audiobooks</a></li>
                    <li><a href="">Purchase an Audiobook</a></li>
                </ul>
            </nav>

            <a class="accounts left" href="">Log In</a>
            <a class="accounts right" href="CS3101/signup">Sign Up</a>
        </div>
    </body>
</html>