<html>
    <head>
        <title>Databases P2</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="../js/index.js"></script> -->

        <% include ./partials/headercss.ejs%>

        <link href="/css/standard.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">

        <!--Only needed if running on the host servers-->
        <link href="/P2 - Front-end Design/public/css/standard.css" rel="stylesheet">
        <link href="/P2 - Front-end Design/public/css/header.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

        <style>
            body {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <!--Header-->
        <% include ./partials/header.ejs %>
        <h2>Sign Up Successful!</h2>
        <h1>Welcome to Bookstream.co.uk!</h1>
    </body> 
</html>