<html>
    <head>
        <title>Databases P2</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <% include ./partials/headercss.ejs %>

        <link href="/css/standard.css" rel="stylesheet">
        <link href="/css/accounts.css" rel="stylesheet">
        <link href="/css/navigation.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

        <script src="/js/signup.js"></script>
    </head>

    <body>
        <% include ./partials/header.ejs %>

        <form id="new-user" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input id="ogPassword" type="password" name="password" placeholder="Password" required>
            <input id="rePassword" type="password" name="repassword" placeholder="Re-enter Password" required>
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="date" name="dob" placeholder="Date of Birth" required> Date of Birth
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>