#author-search {
    display: inline-block;
    background: inherit;

    border: 0;  
    border-bottom: 1px solid #666;
    font-size: 25px;
    padding: 2px;
}

#author-search:hover {
    cursor: pointer;
}

#search-form {
    position: relative;
    top: 0;

    width: 100%;
    text-align: center; 
}

#search {
    height: 5vh;

    font-size: 25px;
    color: #444;

    background-color: inherit;
    border: none;
}

#search-icon:hover {
    cursor: pointer;
}

.icon {
    color: #444;
}



