* {
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #555;
}

body::-webkit-scrollbar-track {
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

h1 {
    margin: 10px 25px;
    font-family: 'Marck Script', cursive;
    font-size: 250%;
}

header {
    margin: 0px;
    padding: 20px;

    background-color: transparent;
    color: #fff;
}

a {
    position: relative;
    background: none;
    border: none;
    outline: 0;
    
    font-family: inherit;
    font-size: 20px;
    font-weight: 400; 
    color: inherit;
    text-decoration: none;
}

.accounts {
    display: block;
    position: absolute;
    font-size: 175%;
    top: 66%;
}

.left {
    left: 2%;
}

.right {
    right: 2%;
}

.navigation a, .accounts {
    padding: 0px 5px;
}

.navigation a::after, .accounts::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    box-sizing: inherit;
    
    border: 1px solid transparent;

    height: 0%;
}

.navigation a::after {
    width: 0%;
    
    transition: width 0.5s ease, height 0.5s ease, border-color 0.5s ease-in-out;
}

.accounts::after {
    width: 100%;
    
    transition: height 0.5s 0.1s ease-out, border-color 1s ease-in-out;
}

a:hover::after {
    width: 100%;
    height: 100%;

    border-color: #fff;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    display: flex;
    position: absolute;
    color: #fff;

    background-color: rgba(0, 0, 0, 0.45);
    align-items: center;

    width: 100%;
    height: 100%;
}