body {
    text-align: center;
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-left: 20px;
}
 
form input {
    margin-top: 15px;
}

input[type=submit] {
    color: #ddd;
    background:#555; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}